span:hover { color: darkcyan }

.menu-bar{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  span{
    margin-left: 20px;
  }
}

.mat-menu-item:hover{
  color:darkcyan;
  mat-icon{
    color: darkcyan;
  }
}

button:hover{ color:darkcyan }

.active{
  background: darkcyan;
  &:hover{
    color: #fff;
  }
}