h1{
    text-align: center;
    margin: 10px;
}

.spinner{
    display: block;
    margin-top: 150px;
    margin-left: 45%;
}

.mat-cell{
    max-width: 500px;
    word-wrap: break-word;
}