h2{
    text-align: center;
}

.close-icon{
    position: absolute;
    top: -15px;
    right: -15px;
}

mat-icon:hover{
    cursor: pointer;
    color: darkcyan;
}

.btn-save{
    margin-left: 70px;
    &:hover{
        background: darkcyan;
        &:disabled{
            background: #E0E0E0;
        }
    }
}

.mat-form-field-appearance-outline{
    width: 275px;
}

.text-area {
    height: 200px;
}