h1 {
    text-align: center;
    margin    : 10px;
    font-weight: bold;
}

.image {
    width   : 100px;
    position: absolute;
    top     : 70px;
    right   : 15px;
}

p {
    text-align  : justify;
    text-justify: inter-word;
    margin      : 60px 45px -35px 30px;
}