<h1>Foolish Stag</h1>

<img class="image" mat-card-image src="../../../assets/stag.png" alt="Photo of a Shiba Inu">

<p>
Once there lived a stag in a dense forest. There was a stream inside the forest. All the animals were used this water. There lived a stag with his family. He was very thirsty. He went to the stream to drink water. The stream water was calm and clear. He was about to bent down to drink some water.
The stag saw his reflection in the stream water.
He saw his reflection in this clear water. When he saw his horns, he felt proud of them. He said to himself, "How beautiful and lovely my horns. While he looked to his legs, he felt sad and disappointed and cursed God for this injustice. He thought he was the king of this forest. He will not fear to anyone."
He was yet to quench his thirst, when he saw a hunter with his hounds. Seeing his life in danger, the stag ran as fast as he could. He was soon out of sight. He reached a thick forest but unluckily his horns got stuck in a thick bush. He tried his best to release his horns, but all in vain. In the meantime, the hounds came for hunting and caught him.
The stag now realized that the legs, he had despised a little while ago, helped him in saving his life but the beautiful horns became the cause of his death.
</p>

<p><i><b>Moral:</b></i> All that glitters is not gold</p>